.merlin
.DS_Store
_build
coar.install
src/.merlin
z3.log
*~
*.csv
*.tsv
*.sol
*.code-workspace
output*
.vscode
__pycache__
experiments/*
obsolete/*
.ocamlformat
*.log
log*/
*.temp*
venv/*
*.so
*.so.*
*.exe
ltl3ba
z3
hoice
*.svg
*.onnx
*.pkl.gz
